@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

body {
    font: 16px/1.4 'Poppins', sans-serif;
    background: #3f723f;
    min-height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}