.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 3px;
    padding: 14px 16px;
    margin-bottom: 22px;
    align-items: center;
    &Img {
        width: 70px;
    };
    &Price {
        font-weight: bold;
    };
    &Btn {
        padding: 12px 14px;
        border: 1px solid black;
        background: rgb(218, 218, 1);
        font-size: 400;
        cursor: pointer;
    };
    &Btn2 {
        padding: 8px 10px;
        border: 1px solid black;
        background: rgb(14, 147, 230);
        font-size: 400;
        cursor: pointer;
    }
}